{% extends "allauth/layouts/base.html" %}
{% load allauth %}

{% block body %}
    <div id="content">
        {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                    {% element alert level=message.tags dismissible=True %}
                        {% slot message %}
                            {{ message }}
                        {% endslot %}
                    {% endelement %}
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}