{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>
        {% block head_title %}{% endblock %}
    </title>
    {% load static %}
    
    <!-- Bootstrap CSS -->
    {% if debug %}
        <!-- Local development -->
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    {% else %}
        <!-- Production -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
              crossorigin="anonymous">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

</head>
<body class="min-vh-100 d-flex flex-shrink-0 flex-column bg-light">
<a class="visually-hidden-focusable" href="#content">{% translate "Skip to main content" %}</a>
<header>
    <nav class="navbar navbar-expand-lg navbar-light shadow-lg border">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/logo.svg' %}" alt="Logo" height="30"
                     class="d-inline-block align-text-bottom">
                <span class="fs-4">Django Base</span>
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarText"
                    aria-controls="navbarText"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <div class="navbar-nav d-flex flex-column flex-sm-row gap-2 text-nowrap ms-auto">
                    <!-- Unauthenticated links go here -->
                    <a class="nav-link" href="{% url 'core:home' %}"></a>
                    
                    {% if user.is_authenticated %}
                        {% url 'account_email' as email_url_ %}
                        {% url 'socialaccount_connections' as socialaccount_url_ %}
                        {% if email_url_ or socialaccount_url_ %}
                            <a href="{% if email_url_ %}{{ email_url_ }}{% else %}{{ socialaccount_url_ }}{% endif %}"
                               class="nav-link">Manage Account</a>
                        {% endif %}
                        <a href="{% url 'account_logout' %}" class="btn btn-outline-dark"
                           role="button">{% translate "Sign Out" %}</a>
                    {% else %}
                        <a href="{% url 'account_login' %}"
                           class="btn btn-outline-primary" role="button">{% translate "Sign In" %}</a>
                        {% url 'account_signup' as signup_url_ %}
                        {% if signup_url_ %}
                            <a href="{{ signup_url_ }}" class="btn btn-primary"
                               role="button">{% translate "Sign Up" %}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
{% block body %}
    {% block content %}
    {% endblock content %}
{% endblock body %}
{% block extra_body %}
{% endblock extra_body %}
{% if debug %}
    <!-- Local development -->
    <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
{% else %}
    <!-- Production -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            crossorigin="anonymous"></script>
{% endif %}
{% block footer %}
    <footer class="mt-auto">
        
        <!-- Call to Action Section -->
        {% block footer_cta %}
            <section class="py-5 bg-primary bg-opacity-10">
                <div class="container text-center">
                    <h2 class="fw-bold mb-3">Try Out the Template Today</h2>
                    <p class="lead mb-4">Get started with Django Base and build better web applications faster</p>
                    <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg">Sign Up Now</a>
                </div>
            </section>
        {% endblock footer_cta %}
        
        <!-- Main Footer -->
        <div class="bg-light py-3 border-top">
            <div class="container">
                <!-- Primary Footer Content -->
                <div class="row py-2">
                    <div class="col-12 col-md-3 mb-3 mb-md-0">
                        <a class="navbar-brand d-inline-flex align-items-center mb-2" href="/">
                            <img src="{% static 'images/logo.svg' %}" alt="Logo" height="30" class="me-2">
                            <span class="fs-4">Django Base</span>
                        </a>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="row justify-content-end">
                            <!-- About Column -->
                            <div class="col-md-3 mb-2">
                                <h5 class="mb-3">About</h5>
                                <ul class="list-unstyled">
                                    <li class="mb-2"><a href="#"
                                                        class="text-decoration-none text-body-secondary">FAQ</a>
                                    </li>
                                    <li class="mb-2"><a href="https://github.com/jimshadrick/django-base"
                                                        class="text-decoration-none text-body-secondary">Repository</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Legal Column -->
                            <div class="col-md-3 mb-2">
                                <h5 class="mb-3">Legal</h5>
                                <ul class="list-unstyled">
                                    <li class="mb-2"><a href="{% url 'core:terms_and_conditions' %}"
                                                        class="text-decoration-none text-body-secondary">Terms and
                                        Conditions</a>
                                    </li>
                                    <li class="mb-2"><a href="{% url 'core:privacy_policy' %}"
                                                        class="text-decoration-none text-body-secondary">Privacy
                                        Policy</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Contact Column -->
                            <div class="col-md-3 mb-2">
                                <h5 class="mb-3">Contact</h5>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <a href="mailto:support@djbase.com"
                                           class="text-decoration-none text-body-secondary">support@djbase.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Secondary Footer Content -->
                <div class="row pt-3 border-top">
                    <div class="col-12 col-md-6">
                        <small class="text-body-secondary">&copy; {% now "Y" %} Django Base. All rights
                            reserved.</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
</body>
</html>